fastapi>=0.111.0
uvicorn[standard]>=0.29.0
pandas>=2.1.0
numpy>=1.26.0
scipy>=1.11.0
scikit-learn>=1.4.0
pydantic>=2.7.0
pydantic-settings>=2.2.0
python-multipart>=0.0.9
pyyaml>=6.0.1
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
apscheduler>=3.10.4
requests>=2.32.0
streamlit>=1.35.0
plotly>=5.22.0
great-expectations>=0.18.12
evidently>=0.4.30
pyspark>=3.5.0

